
body 
{
    font-family: Verdana, Helvetica, Sans-Serif;
}

.fullScreenBackground 
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullScreenBackgroundImage 
{
    background: url(Images/background.jpg) no-repeat center center fixed; 
}

.fullScreenBackgroundImage-227 
{
    background: url(Images/background_227.jpg) no-repeat center center fixed; 
}

.lightFooter 
{
    color:#FFFFFF;
}

.darkFooter
{
    color:#000000;
}

.lightFooter a:link
{
    color:#FFFFFF;
}

.lightFooter a:visited
{
    color:#FFFFFF;
}

.lightFooter a:hover
{
    color:#CCCCCC;
}

.lightFooter a:active
{
    color:#CCCCCC;
}


.darkFooter a:link
{
    color:#000000;
}

.darkFooter a:visited
{
    color:#000000;
}

.darkFooter a:hover
{
    color:#666666;
}

.darkFooter a:active
{
    color:#666666;
}



.noImageTheme
{
    background-color:transparent;
    color:#333333;
}

.imageTheme 
{
    background-color:rgba(0,0,0,.7);
    color:#CCCCCC;
}

.lightLinks a:link
{
    color:#CCCCCC;
}

.lightLinks a:visited
{
    color:#CCCCCC;
}

.lightLinks a:hover
{
    color:#FFFFFF;
}

.lightLinks a:active
{
    color:#FFFFFF;
}


.darkLinks a:link
{
    color:#000000;
}

.darkLinks a:visited
{
    color:#000000;
}

.darkLinks a:hover
{
    color:#666666;
}

.darkLinks a:active
{
    color:#666666;
}


.aboutImage 
{
    background-image:url(Images/About.jpg);
}

.aboutImage-227 
{
    background-image:url(Images/About_227.jpg);
}

#divAboutContainer 
{
    color:#333333;
}